:root {
    --main-color: #4b88b0;
    --back-color: #323232;
  }
  * {background-color: var(--back-color)}
  body,
  html {
    font-size: 18px;
    background-color: var(--back-color);
  }
  
  h2 {
    color: white;
    text-align: left;
  }
  
  p {
    color: lightGray;
    text-align: left;
  }
  
  img {
    max-width: 400px;
    height: 100px;
    padding-left: 10px;
  }

div.row {
  padding:20px;
}

div.col {
  padding:20px;
}