* { box-sizing: border-box; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0;}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  /* font-family: Courier, monospace; */
  font-family: "Open Sans";
  font-weight: 100;
  color: #202020;
}
.lg-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 20em;
  width: 100%;
  height: 10em;
  margin: -5em -10em;
  text-align: center;
}

body * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

#main_ref {
  position: relative;
  display: block;
  overflow: hidden;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  padding: 0.6em;

  background-color: #f0f0f0;
  border-radius: 50%;

  transition: all .15s ease-in-out;
  opacity: 0;
  animation: logo .25s ease-out 4.4s 1 normal forwards;
}

@keyframes logo {
  0%   { transform: rotate(25deg) scale(.01); opacity: 0; }
  70%  { transform: scale(1.4); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

.typer-wrapper {
  position: relative;
  display: block;
  overflow: visible; 
  width: 100%;
  height: 1.25em;
  margin: 1em auto;
  font-size: 1.3em;
  line-height: 1.5em;
  box-sizing: content-box;
}

.typer-wrapper span {
  display: block;
  width: 100%;
}

.pages {
    position: relative;
    max-width: 50em;
    margin: 0 auto;
    padding-right: 1.5em;
    text-align: right;
}

.pages a {
    margin: 0.7em;
}

.contact {
  position: relative;
  width: 20em;
  max-width: 100%;
  margin: -1em auto 1.5em auto;
}

a { 
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  line-height: 2em;
  color: #f0f0f0;
  font-size: 1.5em;
  transition: all .15s ease-in-out;
}

.contact a {
  margin: 0 .20em;
  border-radius: 50%;
  width: 2em;
}

a:hover { color: rgb(92, 92, 92) !important; }

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}