* { box-sizing: border-box; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0;}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: Courier, monospace;
  font-style: normal;
  font-weight: 100;
  color: #202020;
}
.lg-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
.container {
  position: relative;
  margin: 0 auto;
  width: 40em;
  max-width: 100%;
  height: 10em;
  text-align: center;
}
a { 
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 3em;
  text-align: left;
}
.pages {
  position: relative;
  width: 100%;
  margin: 0em 0em 1.5em auto;
  padding-right: 1.5em;
  text-align: right;
  background-color: #f27657;
  box-shadow: 0 0 12px rgb(221, 89, 89);
}


.pages a {
    display: inline-block;
    overflow: hidden;
    opacity: 1;
    line-height: 2em;
    margin: 0.7em;
    color: #f0f0f0;
    font-size: 1.5em;
}

.contact {
  position: relative;
  width: 20em;
  max-width: 100%;
  margin: -1em auto 1.5em auto;
}

.contact a {
  display: inline-block;
  overflow: hidden;
  opacity: 1;
  width: 2em;
  line-height: 2em;
  margin: 0 .20em;
  color: #f0f0f0;
  font-size: 1.5em;
  transition: background-color .2s ease-in-out;
  border-radius: 50%;
}

.contact a:hover { color: rgb(92, 92, 92); }

.pages a:hover { color: rgb(92, 92, 92); }

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

p {
  text-align: left;
}

br {
  display: block;
  content: "";
  border-bottom: 10px solid transparent;
}
@-moz-document url-prefix() {
  br {
    margin-bottom: 10px;
  }
}

.disabled_a { 
  color: rgb(92, 92, 92) !important;
  pointer-events: none;
  cursor: default;
}

img {
  float: right;
  margin-bottom: 5px;
}

#typer {
  margin: 10px 8px 0px 0px;
}